/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu {
    background-color: #f1f1f1;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.menu a:hover {
    background-color: #ddd;
}

/* Graveyard Page Styles */

.graveyard-section {
    background-color: #f9f9f9;
}

.graveyard-section h2 {
    text-align: center;
}

.graveyard-container {
    margin: 20px auto;
}

.cattle-graveyard {
    width: 200px;
    height: 200px;
    background-image: url(./cattle_graveyard.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.pig-graveyard {
    width: 200px;
    height: 200px;
    background-image: url(./pig_graveyard.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.chicken-graveyard {
    width: 200px;
    height: 200px;
    background-image: url(./chicken_graveyard.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
